streamlit==1.12.2
extra-streamlit-components==0.1.55
streamlit-authenticator==0.2.1
streamlit-chat==0.0.2.1
streamlit-lottie==0.0.3
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.3.2
st_pages==0.3.1

pandas==1.4.3
pandas-profiling==3.3.0
pandocfilters==1.5.0
pycaret==2.3.10

scipy==1.5.4
Scrapy==2.6.2
seaborn==0.11.2

matplotlib==3.5.2
matplotlib-inline==0.1.6
plotly==5.13.0
dash==2.6.2
dash-auth==1.4.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
