streamlit==1.12.2
extra-streamlit-components==0.1.55
streamlit-authenticator==0.2.1
streamlit-chat==0.0.2.1
streamlit-lottie==0.0.3
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.3.2

numpy==1.20.0
pandas==1.4.3
pandas-profiling==3.3.0
pandocfilters==1.5.0
pycaret==2.3.10

scikit-image==0.19.2
scikit-learn==0.23.2
scikit-learn-intelex==2021.20220215.102710
scikit-plot==0.3.7
scipy==1.5.4
Scrapy==2.6.2
seaborn==0.11.2

tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-datasets==4.8.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.12.0

matplotlib==3.5.2
matplotlib-inline==0.1.6
plotly==5.13.0
dash==2.6.2
dash-auth==1.4.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
