scikit-image<=0.19.2
scikit-learn<=0.23.2
autoviz<=0.1.58
streamlit==1.12.2
extra-streamlit-components==0.1.55
streamlit-authenticator==0.2.1
streamlit-chat==0.0.2.1
streamlit-lottie==0.0.3
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.3.2
streamlit-lottie==0.0.3
streamlit-chat==0.0.2.1
st_pages==0.3.1
pandas==1.4.3

pyLDAvis
plotly==5.10.0
matplotlib==3.5.1
matplotlib-inline==0.1.2
aiohttp==3.8.1
pycaret<=2.3.10
openai==0.26.1
ipyvizzu==0.13.0
